@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://unpkg.com/nes.css@latest/css/nes.min.css");

*{
    transition: all 1s;
}

#contenedor{
    background-image: url("./Imagenes/paisaje.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
}

#menu,#texto{
    width: 50%;
    height: 90%;
    transition: all 1s;
}

div{
    color: greenyellow;
}

#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    float: left;
}

button{
    font-size: 1.75rem;
    height: 20%;
    width: 50%;
}

#texto{
    float: right;
    background-image: url("./Imagenes/pollo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#jugar{
    height: 100%;
    width: 100%;
    font-size: 4rem;
}

#titulo{
    height: 10%;
    width: 100%;
    font-style: oblique;
    text-align: center;
    font-size: 3rem;
}

img{
    height: 63%;
    position: relative;
    bottom: 20%;
}
