td[colspan="4"] { background-color: brown;}
td[rowspan="4"] {background-color: brown;}
td[colspan="3"] { background-color: yellow;}
td[rowspan="3"] {background-color: yellow;}
td[colspan="2"] { background-color: green;}
td[rowspan="2"] {background-color: green;}
li[id^="pregunta"] {font-family: Verdana;}
span[class="negrita"] {font-weight: bold;}
li[id="pregunta3"] span[class="negrita"] {background-color: yellow;}
p[class="comentarios"] {font-style: italic;border-style: dotted;}
li > a {background-color: turquoise;}
p + p{border-bottom: black 1px solid;}



