div:nth-child(2n){
    visibility: hidden;
}

div{
    border: 2px solid;
    height: 220px;
    width: 450px;
}

.contenedor{
    height: 95%;
    width: 95%;
}

div:nth-child(1),div:nth-child(2),div:nth-child(3){
    position: absolute;
    top: 20px;
}

div:nth-child(1){
    left:20px;
}

div:nth-child(2){
    right: 35%;
}

div:nth-child(3){
    right: 20px;
}

div:nth-child(4),div:nth-child(5),div:nth-child(6){
    background-color: green;
    position: absolute;
    bottom: 34.5%;
}

div:nth-child(4){
    left:20px;
}

div:nth-child(5){
    left: 20px;
    
}
div:nth-child(6){
    right: 20px;
}


div:nth-child(7),div:nth-child(8),div:nth-child(9){
    background-color: blue;
    position: absolute;
    bottom: 20px;
}

div:nth-child(7){
    position: absolute;
    bottom: 34.5%;
    right: 20px;
}

div:nth-child(8){
    right: 35%;
}

div:nth-child(9){
    left: 20px;
}